<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login | Data Students</title>

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="plugins/bs-stepper/css/bs-stepper.min.css">
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <div class="">
      <section class="content w-50 mt-md-5 mx-auto ">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-default shadow">
                <div class="card-header bg-lightblue">
                  <h3 class="card-title">Login</h3>
                </div>
                <div class="card-body p-3 bg-gradient-light">
                  <form id="frmLogin" method="post">
                    <div id="msg" class="hidden"></div>
                  <div id="logins-part" role="tabpanel" aria-labelledby="logins-part-trigger">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="txtEmail" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="txtPassword" placeholder="Password">
                    </div>
                    <button type="submit" id="btn_Login" class="btn btn-primary">Next</button>
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <script src="plugins/jquery/jquery.min.js"></script>
  <script src="plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
  <script>
    const profile = $(document).on("click", "#btn_Login", () => {
      $(location).attr('href', "./pages/users/profile.html");
    });
  </script>


</body>
</html>